#all {
    text-align:center;
}
#logo {
    margin-top:100px;
    width:200px;
    height:200px;
}

#chess {
    font-family: 'Pacifico', cursive;
    margin: 20px;
}

#chessquote {
    margin:20px;
}

button {
    margin: 5px;
}

.chess-board {
    border-spacing:0; 
    border-collapse:collapse;
    margin: 30px;

}

.chess-board .light {
    background-color: #999;
    border:1px solid;
    color: black;
    font-size: 25px;
    height: 40px;
    width: 40px;
    font-family: 'Seogue UI Symbol';
    text-align: center;
    
}
.chess-board .dark {
    background-color: #fff;
    border:1px solid;
    color: black;
    font-size: 25px;
    height: 40px;
    width: 40px;
    font-family: 'Seogue UI Symbol';
    text-align: center;
}
.chess-board .number {
    text-align: center;
    height: 40px;
    width: 40px;
    font-weight: bold;
}

.chess-board .firstrow {
    text-align: center;
}

#board {
    margin:30px;
}
#inputarea {
    margin-top:20px;
}