<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>Chess</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <center>
        <!-- Modify this section START -->
        <div id="board" class="chess-board">
            <table>
            {% for row in ui.board %}
                {% set outer_loop = loop %}
                {% if outer_loop.index == 1 %}
                    <tr>
                    {% for cell in row %}
                        <th>&nbsp{{ cell }}&nbsp</th>
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                    {% for cell in row %}
                        {% set inner_loop = loop %}
                        {% if cell in ["0","1","2","3","4","5","6","7"] %}
                            <td >&nbsp{{ cell }} {{ a }}&nbsp</td>
                        {% else %}
                            {% if outer_loop.index is divisibleby 2 %}
                                {% if inner_loop.index is divisibleby 2 %}
                                    <td class ='dark'>&nbsp{{ cell }}&nbsp</td>
                                {% else %}
                                    <td class ='light'>&nbsp{{ cell }}&nbsp</td>
                                {% endif %}
                            {% else %}
                                {% if inner_loop.index%2 == 0 %}
                                    <td class ='light'>&nbsp{{ cell }}&nbsp</td>
                                {% else %}
                                    <td class ='dark'>&nbsp{{ cell }}&nbsp</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
        <div id="inputarea">
        <label>{{ ui.inputlabel }}</label>
        <input type="text" name="player_input" value="">
        <button type="submit" class="btn btn-primary btn-sm" value="{{ ui.btnlabel }}">{{ ui.btnlabel }}</button>
        
        </div>
        </center>
        <!-- Modify this section END -->
    </body>
</html>