<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>Chess</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <!-- Modify this section START -->
        <img src="https://image.flaticon.com/icons/svg/1831/1831006.svg" alt="Placeholder for an awesome splash image" width=300px height=300px>
        <p>
            <a href="/newgame">
                <button>Start new game</button>
            </a>
        </p>
        <!-- Modify this section END -->
    </body>
</html>